* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/** header **/
header {
  height: 150px;
  background-color: #002b49;
  width: 100%;
}

header .detail-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
}

header .detail-items {
  color: #ccc;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid #ccc;
  margin: 30px 30px;
  border-radius: 10px;
  transition: 0.5s;
}
header .detail-items:hover {
  box-shadow: rgba(0, 0, 0, 0.729) 0 5px 40px;
  transform: translate(2px, 2px);
}

/** table **/
table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 300px;
  height: 300px;
  margin-top: 60px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px 16px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/** chart **/
.chart-container {
  margin: 20px;
  padding: 20px;
  border: 2px solid #000;
  width: 600px;
  max-width: 80%;
}

.chart-container h3 {
  margin-top: 30px;
  margin-left: 0;
}

/** switch-tab **/
.tabs {
  display: flex;
  padding: 24px;
  justify-content: center;
  border-bottom: 1px solid #48484859;
}
.tab {
  padding: 12px;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  padding: 12px 36px;
  margin: 0 24px;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.5s ease;
  color: black;
  user-select: none;
}
.tab:hover {
  background-color: rgba(0, 43, 73, 0.17);
}

.tab.selected-tab {
  background-color: #002b49;
  color: white;
}

.tab-content {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media query for tablets and small laptops */
@media screen and (max-width: 992px) {
  .tab {
    padding: 8px 16px;
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .tab {
    padding: 6px 12px;
    font-size: 14px;
  }
}
